<div class="modal-body">
    <div class="form-group">
        <label for="formGroupName">Name</label>
        <input type="text" class="form-control" required ng-model="newRecord.Name" id="formGroupName" placeholder="Favourites">
    </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Creator</label>
            <select class="form-control" required ng-model="newRecord.Creator" id="exampleFormControlSelect2" ng-options="row.Id as row.Name for row in Cre">
            </select>
        </div>
</div>
